doctype html
html(lang="en")
    body
        p Hello,

        p Your verification code is: #{code}

        p Please use this code to verify your email address.

        p If you didn't request this code, you can safely ignore this email.

        p Thank you,
        p LAMSA 

        p If you have any questions or need assistance, please contact the LAMSA admin
